h1{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 27px;
    font-family: Goudy Old Style;
}
h2{
    text-align: center;
    font-family: Goudy Old Style;
}
h3{
    text-align: center;
    font-family: Goudy Old Style;
}
p{
    text-align: center;
    line-height: 2;
    font-family: Goudy Old Style;
    font-family: papyrus;
}
a{
    text-decoration: none;
    color: blue;
}
h1,h2,h3{
    color: magenta;
}